<form [formGroup]="form" (ngSubmit)='onSubmit()'>
  <div class="mb-3">
    <input type="text" name="nomTodo" class="form-control" formControlName='titre' placeholder="ici votre todo">
  </div>

  <div class="mb-3">
    <select class="form-select" formControlName='status'>
        <option [value]='state' *ngFor='let state of states'>{{state}}</option>
  </select>
  </div>

  <button class='btn btn-warning' type='submit'>MODIFIER</button>

</form>

<div class="d-grid gap-2 col-6 mx-auto" >
  <button class="btn btn-danger" (click)='onAction()'>EFFACER</button>
</div>


<div id='validation' *ngIf='!isHidden'>
  <div class="content">
    Etes-vous sûr ?
    <button class='btn btn-danger' (click)='onDelete()'>OK</button>
    <button class='btn btn-primary' (click)='onCancel()'>Annuler</button>
  </div>


</div>
